#scorecard {
    display:flex;
}
h1 {
    text-align: center;
}
.holeinput{
    width: 40px;
    display: block;
    height: 30px;
    background-color: yellow;
}
.holeheader {
    text-align: center;
    background-color: red;
}
.fullcard{
    display:flex;
    background-color: blue;
}
.playerlist{
    margin: 20px;
    background-color: green;
}
.playername{
    padding: 5px;
}
.par {
    text-align: center;
    background-color: aqua;
}